body main {
    display: flex;
    flex-direction: column;
}

.form {
    align-self: center;
    background-color: rgba(0, 119, 255, 0.514);
    border-radius: 5px;
    width: 70%;
}

body main form {
    margin: 1rem;
    margin-top: 2rem;
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 1rem;
}

input {
    padding: .5rem;
    width: 80%;
}

input:not(:placeholder-shown):invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
}

input:not(:placeholder-shown):valid {
    
    border: 2px solid green;
    background-color: #e6ffe6;
}

#add-inventory-form label {
    display: block;
}

#add-inventory-form {
    width: 93%;
    box-sizing: border-box;
}

#classificationList {
    display: block;
    width: 80%;
    padding: .5rem;
}

#inv_description {
    width: 80%;
    height: 3rem;
}

textarea:not(:placeholder-shown):invalid {
    border: 2px solid red;
    background-color: #ffe6e6;
}

textarea:not(:placeholder-shown):valid {
    
    border: 2px solid green;
    background-color: #e6ffe6;
}