h1{
    text-align: center;
}

#inv-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inv-display li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.namePrice h2 a, .namePrice h2 a:visited{
    color: blue;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    body main{
        display: flex;
        flex-direction: column;
    }
    #inv-display {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        justify-items: center;
    }
    #inv-display li {
        border: 2px solid rgba(128, 128, 128, 0.558);
        border-radius: 10px;
        height: 20rem;
        width: 17rem;
        padding-top: 0%;
    }

    #inv-display li a {
        width: 100%;
        height: auto;
        display: block;

    }
    #inv-display li a  img{
        width: 100%;
        height: auto;
        display: block;
        margin-top: 0;
        border-radius: 10px;
    }
    .namePrice {
        margin-top: auto;
    }
}
