h1{
    text-align: center;
}

body main {
    display: flex;
}

#inv-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#inv-detail img {
    width: 100%;
}

.vehicle-info p {
    padding: 1rem;
}

.vehicle-info p:nth-of-type(odd) {
  background-color: #f2f2f2;
}


@media screen and (min-width: 768px){
    #inv-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "title title"
        "img info";
        gap: 1rem;
    }
    #inv-detail h1 {
        grid-area: title;
        text-align: left;
    }
    #inv-detail img {
        grid-area: img;
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
        margin-bottom: auto;

    }
    .vehicle-info {
        grid-area: info;
    }
    
    
}