form {
    padding: 1rem;
    border: 2px solid #eee;
    border-radius: 5px;
}

.form {
    background-color: rgba(0, 119, 255, 0.514);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    color: white;
}

.form p a:visited, .form p a{
    text-decoration: underline;
    color: white;
}


.input-group{
    position: relative;
    width: 100%;
}

.input-group input{
    width: 100%;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid #eee;
    outline: none;
    border-radius: 4px;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    font-size: 16px;
    pointer-events: none;
    background-color: white;
    padding: 0 5px;
}

.input-group input:focus+label, .input-group input:valid+label{
    top: -7px;
    font-size: 14px;
    background-color: transparent;
}


.form form button {
    display: block;
    margin: 0 auto;
    color: #777;
    border: none;
    background-color: white;
    border-radius: 25px;
    padding: .5rem 1rem;
    font-size: 1rem;
}

form button:hover {
    cursor: pointer;
}


