

.form {
    background-color: rgba(0, 119, 255, 0.514);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    color: white;
}


.input-group{
    position: relative;
    width: 100%;
    padding: 1rem;
}

.input-group input{
    width: 100%;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid #eee;
    outline: none;
    border-radius: 4px;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    transition: 0.3s;
    color: #777;
    font-size: 16px;
    pointer-events: none;
    background-color: transparent;
    padding: 0 5px;
}

.input-group:focus-within label,
.input-group:has(input:not(:placeholder-shown)) label {
  top: -7px;
  font-size: 14px;
}


.form form button {
    display: block;
    margin: 0 auto;
    color: #777;
    border: none;
    background-color: white;
    border-radius: 25px;
    padding: .5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

form button:hover {
    cursor: pointer;
}

.form form span {
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}


